PORT=8000
MONGODB_URI=mongodb+srv://somesh7:pass@cluster0main.irodcq9.mongodb.net/?appName=Cluster0Main
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=valar-morghulis
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=valar-dohaeris
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=